
.kanban-col {
    width: 500px;
    height: 100%;
    padding:20px;
    box-sizing: border-box;
}

.kanban-card {
    width: 100%;
    height: 100%;
    margin: 20px;
}


.kanban-card-content {
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}


.kanban-list {
    height: 90%;
    overflow: auto;
}